h2 {
  padding: 2rem;
  text-align: center;
}

.favouritesPostList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 2.5rem;
  padding-bottom: 2rem;
}
