.emptyContainer {
  padding: 2rem;
  border: 2px dashed var(--color-violet);
  background-color: rgba(153, 7, 226, 0.05);
  border-radius: 12px;
  text-align: center;
  color: var(--color-violet);
  max-width: fit-content;
  margin: 3rem auto;
}

.emptyContainer > h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-violet);
}

.emptyContainer > p {
  font-size: 1rem;
  color: #5e5e5e;
  transition: 0.2s ease-in-out;
}

.dark.emptyContainer > p {
  color: var(--color-white-dark-theme);
}
