.offersHeader {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  padding: 0;
}

.offersWrapper {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}
