.topBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  z-index: 999;
  transition: 0.2s ease-in-out;
}

.topBar > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2rem;
  width: 150px;
}

.dark {
  background-color: var(--color-dark-nav);
}
