.formWrapper {
  max-width: 500px;
  margin: 3rem auto;
  padding: 2rem;
  border: 2px solid rgb(153, 7, 226);
  border-radius: 12px;
  background-color: #f9f4fc;
  box-shadow: 0 4px 12px rgba(153, 7, 226, 0.2);
}

.postForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.postForm label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-family: var(--font-family-default), sans-serif;
  color: #333;
  padding-bottom: 0.1rem;
}

.postForm input,
.postForm textarea {
  display: block;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  width: 100%;
}

.postForm input:focus,
.postForm textarea:focus {
  outline: none;
  border-color: rgb(153, 7, 226);
  box-shadow: 0 0 4px rgb(153, 7, 226);
}

.postForm button {
  background-color: rgb(153, 7, 226);
  color: white;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.postForm button:hover {
  background-color: rgb(123, 6, 185);
}

.error {
  font-size: 0.8rem;
  color: #c31919;
  padding: 0.3rem 0 0 0;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: black;
  margin: 1rem auto;
  display: block;
  text-align: center;
}

.addAnotherPost {
  background-color: var(--color-violet);
  color: var(--color-white);
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
  display: block;
}

.formWrapper.dark {
  background-color: var(--color-dark-nav);
}

.dark.postForm label {
  color: var(--color-white-dark-theme);
}

.dark.postForm input,
.dark.postForm textarea {
  background-color: var(--color-dark-main);
}
