.mainMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.mainMenu li a {
  text-transform: uppercase;
  color: gray;
  padding: 0.3rem;
  display: block;
  font-weight: 700;
  transition: 0.2s ease-in-out;
}

.mainMenu a:global(.active) {
  color: var(--color-violet);
  border-bottom: 3px solid var(--color-violet);
}

.mainMenu li a.dark {
  color: var(--color-white-dark-theme);
}
