.button {
  border: none;
  background-color: var(--color-violet);
  color: white;
  width: 90%;
  padding: 0.7rem 2rem;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  font-family: var(--font-family-default);
  transition: 0.2s ease-in-out;
}

.button:hover {
  background-color: rgb(120, 3, 178);
}
