.button {
  border: none;
  background-color: var(--color-violet);
  color: white;
  width: 90%;
  padding: 0.7rem 2rem;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  font-family: var(--font-family-default);
}
