.postListWrapper {
  padding-top: 0rem;
  padding-left: 250px;
}

.postListWrapper h2 {
  text-align: center;
}

.postListWrapper button {
  background-color: rgb(153, 7, 226);
  color: white;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto 2rem auto;
  display: block;
}

.postListWrapper button:hover {
  background-color: rgb(123, 6, 185);
}

.postList {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
