.mainContent {
  width: 100%;
  flex: 1;
  transition: 0.2s ease-in-out;
  position: relative;
  z-index: 0;
}

.mainContent.dark {
  background-color: var(--color-dark-main);
  color: var(--color-white-dark-theme);
}
